---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Sysadmin",
    company: "Grupo Miraro",
    description:
      "Desarrolladora inmobiliaria con más de 30 años construyendo sueños♥. Tengo el privilegio de liderar el área de tecnología en Grupo Miraro. Me encargo de servidores, redes, coordinación de proyectos web y despliegues en AWS. Mi casa es el lugar donde se crean hogares♥♥.",
    link: "https://grupomiraro.com",
  },
  {
    date: "Febrero 2017 - Marzo 2022",
    title: "Coordinador de TI en unidades de negocio (Restaurantes)",
    company: "Grupo Anderson's",
    description:
      "Grupo restaurantero con más de 50 años atendiendo a amigos. Mi responsabilidad era asegurar el funcionamiento óptimo de los restaurantes en Cancún, gestionando desde los sistemas POS y bases de datos de productos y precios, hasta redes e infraestructura. Mi tiempo en Grupo Anderson's fue una experiencia deliciosa, llena de sabores y momentos inolvidables.",
  },
]
---

<ol class="relative mt-16 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>