---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Sysadmin",
    company: "Grupo Miraro",
    description:
      "Desarrolladora inmobiliaria con mas de 30 años, creando hogares, aca me encargo de toda el area de tecnologia, desde servidores redes, hasta coordinacion de proyectos web tambien hago los deploys en aws. Mi tiempo en Grupo Miraro es un viaje emocionante; mi casa es el lugar donde se crean hogares(:",
    link: "https://grupomiraro.com",
  },
  {
    date: "Febrero 2017 - Marzo 2022",
    title: "Coordinador de TI en unidades de neogcio (Restaurantes)",
    company: "Grupo Anderson's",
    description:
      "Grupo resturantero con mas de 50 años atendiendo amigos! Mi responsabilidad era que todo funcione correctamente en los restaurantes de Cancún, desde los POS, BDD de productos-precios, redes e infraestructura. Mi paso por Grupo Anderson's fue una experiencia deliciosa, llena de sabores y momentos inolvidables.",
  },
]
---

<ol class="relative mt-16 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>