<header class="bg-gray-800 p-4 zian">
    <nav class="flex justify-center">
      <div class="flex space-x-6">
        <a href="#" class="text-gray-300 hover:text-white zian ">Home</a>
        <a href="#" class="text-gray-300 hover:text-white">About</a>
        <a href="#" class="text-gray-300 hover:text-white">Experience</a>
        <a href="#" class="text-gray-300 hover:text-white">Contact</a>
      </div>
    </nav>
  </header>