---
const personalImageAlt = "Jonathan Fierro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import { Image } from "astro:assets";
import faceJF from "../components/images/jf.webp";
---

<div class="max-w-xl p-4">
  <div class="flex gap-4 mb-4 mx-auto">
    <Image
      class="rounded-full shadow-lg size-20"
      src={faceJF}
      alt={personalImageAlt}
      loading="eager"
    />
    <a
      href="https://linkedin.com/in/jonathan-fierro"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>No busco trabajo</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl text-pink mx-auto">
    Hola, soy Jonathan Fierro
  </h1>
  <p class="mt-6 text-xl text-gray-light font-semibold mx-auto">
    +8 años de experiencia. <span class="text-green"
      >Ingeniero en sistemas y creador de videojuegos indie</span
    >, originario de México. Especializado en <span class="text-green"
      >servidores Linux y Windows</span
    >, así como en redes. Apasionado por la tecnología, busco aportar soluciones
    innovadoras en cada proyecto.
  </p>

  <nav class="flex flex-wrap gap-4 mt-8 mx-auto text-xl">
    <SocialPill href="mailto:jonathanfierro.is@gmail.com">
      <MailIcon class="size-8" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/jonathan-fierro">
      <LinkedInIcon class="size-8" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
