<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 transition bg-black text-green border border-lime-400 rounded-full hover:bg-gray-400 hover:text-black hover:border-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-fuchsia-500 focus-visible:ring-offset-2 active:bg-gray-800"
>
  <slot />
</a>
