---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Soy Jonathan Fierro, Ingeniero en sistemas con más de 8 años de experiencia,especializado en desarrollo de videojuegos, administración de servidores y desarrollo web."
    />
    <meta property="og:image" content="/jf.webp" />
    <meta property="og:title" content="Desarrollador de videojuegos" />
    <meta
      property="og:description"
      content="Soy Jonathan Fierro, Ingeniero en sistemas con más de 8 años de experiencia,especializado en desarrollo de videojuegos, administración de servidores y desarrollo web."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/jfStudio.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-neutral-950 bg-[radial-gradient(ellipse_70%_55%_at_50%_-25%,rgba(0,191,255,0.3),rgba(0,0,0,0))]"
  >
    <Header />

    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    scroll-behavior: smooth;
    font-family: system-ui, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  .zian {
    color: #00bfff;
  }

  .text-black-deep {
    color: #1a1a1a;
  }
  .text-fuccia {
    color: fuchsia;
  }

  .text-pink {
    color: #ff005b;
  }

  .text-cya {
    color: #00bfff;
  }

  .text-orange {
    color: #ff7f00;
  }

  .text-green {
    color: #a8e600;
  }

  .text-gray-dark {
    color: #2f2f2f;
  }
  .text-gray-light {
    color: #e0e0e0;
  }
  .text-yellow-neon {
    color: #ffd300;
  }

  .text-yellow-neon-h {
    color: #ffd300;
  }

  .text-yellow-neon-h:hover {
    color: cyan; /* Cambia a blanco al hacer hover */
  }

  .border.gree {
    border: solid #a8e600;
  }
  .nowork {
    color: #ff4f4f;
  }

  .slider {
    width: 50vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-tack {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200 * 14);
  }

  .slider .slider {
    width: 100px;
  }
  .slider .slider Icon {
    width: 100%;
  }
</style>
